
ader{
    background-color: black;
}

header{

    background-color: rgb(206, 206, 206);
}

div.principal{
	display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
}
ul{
    display: flex ;
    
}
li{
    margin-right: 1rem;
    font-family: 'Playfair Display', serif;
}
li a{
    color:black;
 
    text-decoration: none;
}


li button{
    color: white;
}

section article p{
    color: aliceblue;
}

footer{

    background-color: rgb(0, 0, 0);

    margin: auto 0;
    padding: 1 ;
}
