

body{
    background-color: rgba(225,222,222,1);
}
header{

    background-color: rgb(206, 206, 206);
}



div.pfooter{
	display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(60px, auto);
}

div.funo{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.fdos{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.ftres{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex ;
    
}
li{
    margin-right: 1rem;
    font-family: 'Playfair Display', serif;
}
li a{
    color:black;
 
    text-decoration: none;
}


li button{
    color: white;
}

p{
    margin: auto;
}



footer{

    background-color: rgb(0, 0, 0);
    margin: auto 0;
    padding: 1 ;
}
